@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Flip card container */
.flip-card {
  perspective: 1000px;
}
.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateY(180deg);
}


/* MIssion */ 



@layer components {
  .vision-card {
    @apply bg-white p-8 rounded-xl shadow-sm transition transform duration-300 hover:shadow-md hover:scale-[1.01];
  }
}


/* Vision */ 


@layer components {
  .mission-card {
    @apply bg-white p-8 rounded-xl shadow-sm transition transform duration-300 hover:shadow-md hover:scale-[1.01];
  }
}


/* About  */ 


@layer components {
  .registry-card {
    @apply bg-white p-8 rounded-xl shadow-sm transition transform duration-300 hover:shadow-md hover:scale-[1.01];
  }
}

/* Contacts */ 

.registry-card {
  @apply bg-white border border-gray-200 shadow-md p-6 rounded-lg transition hover:shadow-xl hover:scale-[1.01];
}


/* global.css or tailwind.config.ts theme extensions for dark mode  */ 
.card {
  @apply bg-gray-50 rounded-xl shadow-sm hover:shadow-md transition duration-200;
}
